<ion-header>

</ion-header>

<ion-content>

  <div class="container">
    <div class="login-container">
      <ion-button class="btn btn-signup">Sign up</ion-button>
      <ion-button class="btn btn-login" (click)="openModal()">Login</ion-button>

      <ion-text>
        <h5>
          Or Sign in with
        </h5>
      </ion-text>

      <ion-button class="btn btn-socialmedia btn-facebook">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>Facebook
      </ion-button>

      <ion-button class="btn btn-socialmedia btn-google">
        <ion-icon slot="start" src="assets/icon/google.svg"></ion-icon>Google
      </ion-button>


    </div>

  </div>

</ion-content>